<div class="footer">
    <ul class="banks">
        <li class="bank__item"><img class="bank__item-image" src="assets/visa.svg" alt="Visa Logo"></li>
        <li class="bank__item"><img class="bank__item-image" src="assets/master.svg" alt="Master Card Logo"></li>
        <li class="bank__item"><img class="bank__item-image" src="assets/amex.svg" alt="American Express Logo"></li>
        <li class="bank__item"><img class="bank__item-image" src="assets/skrill.svg" alt="Skrill Logo"></li>
        <li class="bank__item bank__item--small"><img class="bank__item-image bank__item-image--small" src="assets/bitcoin.svg" alt="Bitcoin Logo"></li>
        <li class="bank__item bank__item--small"><img class="bank__item-image bank__item-image--small" src="assets/bitcoinc.png" alt="Bitcoin Cash Logo"></li>
        <li class="bank__item bank__item--small"><img class="bank__item-image bank__item-image--small" src="assets/eth.svg" alt="Ethereum Logo"></li>
        <li class="bank__item bank__item--small"><img class="bank__item-image bank__item-image--small" src="assets/ltc2.png" alt="Litlecoin Logo"></li>
        <li class="bank__item bank__item--more">and 50+ more</li>
    </ul>
    <ul class="social-media">
        <li class="social-media__item"><span class="social-media__item-background-fb"><i class="fa-brands fa-facebook-f"></i></span></li>
        <li class="social-media__item"><span class="social-media__item-background-ig"><i class="fa-brands fa-instagram"></i></span></li>
        <li class="social-media__item"><span class="social-media__item-background-x"><i class="fa-brands fa-twitter"></i></span></li>
        <li class="social-media__item"><span class="social-media__item-background-sc"><i class="fa-brands fa-discord"></i></span></li>
    </ul>
    <ul class="page-map">
        <li class="page-map__item">
            <p class="page-map__logo">CHICKS GOLD</p>
            <p>support&#64;chicksgold.com</p>
        </li>
        <li class="page-map__item">
            <h4>Chicks Gold</h4>
            <ul class="page-map-items">
                <li class="page-map-items__item">Games</li>
                <li class="page-map-items__item">About us</li>
                <li class="page-map-items__item">Blog</li>
                <li class="page-map-items__item">Sitemap</li>
            </ul>
        </li>
        <li class="page-map__item">
            <h4>Support</h4>
            <ul class="page-map-items">
                <li class="page-map-items__item">Contact Us</li>
                <li class="page-map-items__item">FAQ</li>
            </ul>
        </li>
        <li class="page-map__item">
            <h4>Legal</h4>
            <ul class="page-map-items">
                <li class="page-map-items__item">Privacy Policy</li>
                <li class="page-map-items__item">Terms of Service</li>
                <li class="page-map-items__item">Copyright Policy</li>
            </ul>
        </li>
    </ul>  
    <div class="copy-right">© 2017 - 2020 Chicksgold.com All Rights Reserved</div>
</div>