<nav class="navbar">
    <span class="navbar__logo">CHICKS GOLD</span>
    <span class="navbar__nav">
      <ul class="sections">
        <li class="sections__section">Currency <i class="fa-solid fa-chevron-down fa-icon-chevron-down"></i></li>
        <li class="sections__section">Items <i class="fa-solid fa-chevron-down fa-icon-chevron-down"></i></li>
        <li class="sections__section">Accounts <i class="fa-solid fa-chevron-down fa-icon-chevron-down"></i></li>
        <li class="sections__section">Services <i class="fa-solid fa-chevron-down fa-icon-chevron-down"></i></li>
        <li class="sections__section">Swap <i class="fa-solid fa-chevron-down fa-icon-chevron-down"></i></li>
        <li class="sections__section">Sell <i class="fa-solid fa-chevron-down fa-icon-chevron-down"></i></li>
      </ul>
    </span>
    <span class="navbar__menu">
        <ul class="sections">
            <li class="sections__section">USD <i class="fa-solid fa-chevron-down fa-icon-chevron-down"></i></li>
            <li class="sections__section"><i class="fa-solid fa-cart-shopping fa-icon-left"></i> Cart (5)</li>
            <li class="sections__section">
                <button class="button button__with-icon">Sign In <i class="button--icon-right fa-solid fa-user"></i></button>
            </li>
          </ul>
    </span>
  </nav>