.pager {
    list-style: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pager__item {
    flex: 0 0 content;
    color: white;
    padding: 1rem 1.5rem;
    margin: 0 .5rem;
    border-radius: var(--border-radius-default);
    display: none;
}

.pager__item:nth-child(2) {
    display: inherit;
}

.pager__item--chevron {
    border: 1px solid #5762d5;
    display: inherit;
}

.pager__item--selected {
    background-color: #5762d5;
}

@media (min-width: 768px) {
    .pager__item {
        display: inherit;
    }
}