<div class="search-bar">
    <div class="search-bar__game">
        <div class="dropwdown">
            <span class="dropwdown__left"><span class="dropwdown__content-icon">🗡️</span> <span>Select a game</span></span>
            <span class="dropwdown__right"><i class="fa-solid fa-caret-down"></i></span>
        </div>
    </div>
    <div class="search-bar__input">
        <div class="input-search">
            <i class="fa-solid fa-magnifying-glass dropwdown__content-icon"></i> <span>Search</span>
        </div>
    </div>
    <div class="search-bar__price">
        <div class="dropwdown dropwdown--small dropwdown--small-border">
            <span class="dropwdown__content"><span class="dropwdown__content-icon dropwdown__content-icon-color"><i class="fa-solid fa-sack-dollar dropwdown__content-icon"></i></span> <span><div class="dropwdown__content-title roboto-light">Price</div><div>All</div></span></span>
            <span><i class="fa-solid fa-caret-down"></i></span>
        </div>
    </div>
    <div class="search-bar__price">
        <div class="dropwdown dropwdown--small">
            <span class="dropwdown__content"><span class="dropwdown__content-icon dropwdown__content-icon-color"><i class="fa-solid fa-feather-pointed dropwdown__content-icon"></i></span> <span><div class="dropwdown__content-title roboto-light">Item Type</div><div>All</div></span></span>
            <span><i class="fa-solid fa-caret-down"></i></span>
        </div>
    </div>
</div>